body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  margin: 20% auto;
  width: 40%; 
  height: 75%;
}

.operations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 50px;
}